* {
    box-sizing: border-box;
}
:root {
    --primary-color: #ffb900;
    --font-heading: Sen, sans-serif;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
/* ====================== Header ====================== */

.header {
    background: #fffcf4;
}
.header.fixed {
    top: -28px;
    position: sticky;
    z-index: 1;
}
.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}
.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}
.header .nav {
    display: flex;
    margin-left: auto;
    align-items: center;
}
.header ul {
    display: flex;
}
nav a {
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    color: #5f5b53;
}

nav .active a,
nav li a:hover {
    transition: 1s;
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.btn:hover {
    transition: 1s;
    opacity: 0.9;
    cursor: pointer;
}
/* underline Home */
nav .action {
    position: relative;
}
nav .active a::after {
    position: absolute;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    bottom: 6px;
    left: 21px;
    background-color: #171100;
    border-radius: 1px;
}
.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background: #171100;
    border-radius: 999px;
}
.header .sign-up-btn {
    min-width: 144px;
}
.header .action {
    margin-left: 49px;
}

/* ====================== Hero ====================== */
.hero {
    padding: 56px 0 65px;
    background: #fffcf4;
}
.hero .body {
    display: flex;
}
.hero .media-block {
    position: relative;
    width: 48%;
}
.hero .media-block .img {
    display: block;
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
}
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}
.hero .heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}
.hero .desc {
    margin-top: 20px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}
.cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}
.hero-cta {
    min-width: 180px;
    line-height: 64px;
    background-color: var(--primary-color);
}
.hero .watch-video span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.hero .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background: none;
}
.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .content-block .desc span {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 30px;
}

.hero .content-block .desc span:first-child {
    margin-right: 35px;
}

.hero .content-block .desc strong {
    font-family: Sen;
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 54px;
    color: #000000;
}
.hero-summary {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    position: absolute;
    width: 270px;
    padding: 24px;
    bottom: 48px;
    right: 0;
}
.hero-summary .item {
    display: flex;
    margin-top: 22px;
}
.hero-summary .item:first-child {
    margin-top: 0;
}
.hero-summary .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 14px;
}
.hero-summary img {
    width: 24px;
    height: 24px;
}

.hero-summary .icon .info {
    margin-left: 16px;
}
.hero-summary .info .title {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
}
.hero-summary .info .label {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #5f5b53;
}

/* ====================== Popular ====================== */
.popular {
    padding-top: 152px;
}
.popular .popular-top {
    display: flex;
    align-items: center;
}

.popular .info .lv2 {
    font-family: Sen;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
}

.popular .info .desc {
    margin-top: 6px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 458px;
    color: #5f5b53;
}

.popular .popular-top .controls {
    margin-left: auto;
}

.popular .popular-top .controls img {
    width: 6px;
    height: 12px;
}

.popular .popular-top .controls button {
    background: none;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    padding: 0;
    width: 40px;
    height: 40px;
}

.popular .popular-top .controls button:last-child {
    background-color: var(--primary-color);
}
.popular .course-list {
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
}

.popular .course-list .info,
.foot {
    padding: 10px 22px 0 22px;
}
.popular .course-item {
    height: 466px;
    opacity: 1;
    border-radius: 12px;
    border: 1px solid #e2dfda;
}
.popular .course-item:hover {
    transition: 1s;
    border: none;
    box-shadow: 0px 18px 36px 0px #0000000d;
}
.popular .course-item .thumb {
    width: 370px;
    height: 278px;
    border-radius: 12px 12px 0 0;
}
.popular .head {
    display: flex;
    justify-content: space-between;
}
.popular .course-item .info .title {
    width: 159px;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    line-height: 30px;
}
.popular .course-item .line-2 {
    width: 326px;
    height: 52px;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}

.popular .course-list .foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular .course-list .foot .price {
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
}
.popular .course-list .foot .book-btn {
    width: 118px;
    height: 50px;
    opacity: 1;
    border-radius: 25px;
}
.popular .course-list .foot .book-btn:hover {
    transition: 1s;
    background-color: var(--primary-color);
    border: none;
}

/* ====================== Feedback ====================== */
.feedback {
    margin-top: 200px;
    height: 380px;
    background-color: #2e2100;
}

.feedback .feedback-item {
    display: flex;
    justify-content: space-between;
    padding-top: 95px;
}
.feedback-item .avatar {
    width: 72px;
    height: 72px;
    border-radius: 999px;
}

.feedback-item .title {
    margin-top: 15px;
    color: #f7f7f7;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
}

.feedback-item .desc {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #bfbcb2;
}
.feedback-item .dots {
    margin-top: 25px;
    display: flex;
    gap: 5px;
}
.feedback-item .dot {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #634700;
}
.feedback-item .active {
    background-color: var(--primary-color);
}
.feedback-item .open-quotes {
    width: 30px;
    height: 28px;
    position: relative;
    left: -25px;
}
.feedback-item .content blockquote {
    font-weight: 400;
    font-style: Italic;
    font-size: 26px;
    line-height: 40px;
    color: #ffffff;
    width: 740px;
    height: 160px;
}

/* ====================== Features 1 ====================== */
.features {
    padding-top: 190px;
}
.features .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.features .images {
    flex-direction: row;
}
.features .images img {
    width: 270px;
    height: 404px;
    border-radius: 16px;
}
.features .images img:last-child {
    position: relative;
    top: -28px;
    margin-left: 22px;
}
.features .content {
    width: 470px;
    height: 322px;
}
.features .content .heading {
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
}
.features .content .desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #5f5b53;
}
.features .cta-btn {
    margin-top: 30px;
    width: 137px;
    background-color: var(--primary-color);
}

/* ====================== Features 2 ====================== */
.features-2nd {
    padding: 190px 0;
}
.features-2nd .body {
    flex-flow: row-reverse;
}
.features-2nd .content {
    width: 570px;
    height: 298px;
}
.features-2nd .images img {
    width: 470px;
    height: 440px;
}

/* ====================== Blog ====================== */
.blog {
    padding-top: 105px;
    background-color: #fffcf4;
}

.blog-top .heading {
    font-size: 38px;
    line-height: 48px;
    text-align: center;
}
.blog-top .desc {
    margin: 25px auto 60px auto;
    width: 448px;
    height: 56px;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #696262;
}
.blog-list {
    display: flex;
    gap: 30px;
}
.blog-list .item {
    width: 370px;
    height: 467px;
    border-radius: 16px;
    background-color: #ffffff;
}
.blog-list .item:hover {
    box-shadow: 0px 16px 32px 0px #0000000d;
    transition: 1s;
}
.blog-list .thumb {
    width: 370px;
    height: 250px;
    border-radius: 16px 16px 0 0;
}
.blog-list .info {
    padding: 20px;
}
.blog-list .info .date::before {
    margin-right: 5px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    content: "";
    height: 6px;
    width: 6px;
    background-color: var(--primary-color);
}
.blog-list .info .date {
    position: relative;
    display: inline-flex;
    align-items: center;
    color: #5f5b53;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}

.blog-list .info .date::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -10px;
    width: 160px;
    height: 1px;
    background-color: #e2dfda;
}

.blog-list .title {
    margin-top: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
}
.blog-list .btn {
    margin-top: 15px;
}
.blog-list .btn:hover {
    background-color: var(--primary-color);
}
.blog .dots {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-bottom: 96px;
}
.blog .dot {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #634700;
}
.blog .active {
    background-color: var(--primary-color);
}

/* ====================== Footer ====================== */
.footer {
    padding-top: 100px;
    padding-bottom: 35px;
    background-color: #2e2100;
    color: #ffffff;
}
.footer a {
    color: #bfbcb2;
}
.footer .row {
    display: flex;
    gap: 150px;
}
.footer .column {
    display: inline-block;
}

.footer .column .desc {
    margin-top: 30px;
    line-height: 26px;
    font-weight: 400;
    font-size: 14px;
    width: 267px;
    height: 78px;
    color: #bfbcb2;
}
.footer .column .socials {
    display: flex;
    margin-top: 25px;
    gap: 20px;
}
.footer .column .title::after {
    margin-top: 20px;
    margin-bottom: 28px;
    display: block;
    content: "";
    background-color: #59554b;
    width: 130px;
    height: 1px;
}
.footer .column .list a {
    display: block;
    margin-top: 12px;
    font-size: 14px;
    line-height: 26px;
}
.footer .column .title {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
}
.footer .column a strong {
    color: #ffffff;
}
.footer .copyright::before {
    top: -28px;
    position: absolute;
    content: "";
    display: block;
    width: 1170px;
    height: 1px;
    background-color: #59554b;
}
.footer .copyright {
    margin-top: 67px;
    position: relative;
    display: flex;
    justify-content: center;
    color: #807d74;
}
