* {
    box-sizing: border-box;
}
:root {
    --primary-color: #ffb900;
    --font-heading: Sen, sans-serif;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
}
/* ====================== Header ====================== */

.header {
    background: #fffcf4;
}
.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}
.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}
.header .nav {
    display: flex;
    margin-left: auto;
    align-items: center;
}
.header ul {
    display: flex;
}
nav a {
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    color: #5f5b53;
}
.header nav a:hover,
nav .active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}
/* underline Home */
nav .action {
    position: relative;
}
nav .active a::after {
    position: absolute;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    bottom: 6px;
    left: 21px;
    background-color: #171100;
    border-radius: 1px;
}
.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background: #171100;
    border-radius: 999px;
}
.header .sign-up-btn {
    min-width: 144px;
}
.header .action {
    margin-left: 49px;
}

/* ====================== Hero ====================== */
.hero {
    padding: 56px 0 65px;
    background: #fffcf4;
}
.hero .body {
    display: flex;
}
.hero .media-block {
    position: relative;
    width: 48%;
}
.hero .media-block .img {
    display: block;
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
}
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}
.hero .heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}
.hero .desc {
    margin-top: 20px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}
.cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}
.hero-cta {
    min-width: 180px;
    line-height: 64px;
    background-color: var(--primary-color);
}
.hero .watch-video span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.hero .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background: none;
}
.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .content-block .desc span {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 30px;
}

.hero .content-block .desc span:first-child {
    margin-right: 35px;
}

.hero .content-block .desc strong {
    font-family: Sen;
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 54px;
    color: #000000;
}
.hero-summary {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    position: absolute;
    width: 270px;
    padding: 24px;
    bottom: 48px;
    right: 0;
}
.hero-summary .item {
    display: flex;
    margin-top: 22px;
}
.hero-summary .item:first-child {
    margin-top: 0;
}
.hero-summary .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-left: 18px;
    margin-right: 14px;
}
.hero-summary img {
    width: 24px;
    height: 24px;
}

.hero-summary .icon .info {
    margin-left: 16px;
}
.hero-summary .info .title {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
}
.hero-summary .info .label {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #5f5b53;
}
